<div class="container">
  <h1>Welcome to Your Twitter Application!</h1>
  <h2>To view the 10 most recent tweets for a user,<br>type their username into the URL like below!<h2>
  <div border="1px solid gray">localhost:9393/Adam070898</div>
</div>
